[submodule "frontend"]
	path = frontend
	url = https://github.com/RebelRaider/true-tech-fintech.git
	branch = frontend


[submodule "backend"]
	path = backend
	url = https://github.com/RebelRaider/true-tech-fintech.git
	branch = backend
