[submodule "frontend"]
	path = frontend
	url = git@git.codenrock.com:true-tech-hack-1150/cnrprod1714212402-team-69320/true-tech-hack-fintech-frontend.git
	branch = frontend
[submodule "backend"]
	path = backend
	url = git@git.codenrock.com:true-tech-hack-1150/cnrprod1714212402-team-69320/true-tech-hack-fintech-backend.git
	branch = backend
